{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Stock Invesment Methods</legend>
                <div class="form-group">
                    {{ form.input_amount.label(class="form-control-label") }}
                    {% if form.input_amount.errors %}
                        {{ form.input_amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.input_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.input_amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.invs_method.label(class="form-control-label") }}
                    {% if form.invs_method.errors %}
                        {{ form.invs_method(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.invs_method.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.invs_method(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.invs_method_opt.label(class="form-control-label") }}
                    {% if form.invs_method_opt.errors %}
                        {{ form.invs_method_opt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.invs_method_opt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.invs_method_opt(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <P>{{ result }}</P>
            <p>Your final Protfolio based on your selected strategy is as below:</p >
            <P>{{method1}}</P>
            <ol>
              <li>{{ companyList[0] }} =  {{portionList[0]}} %</li>
              <li>{{ companyList[1] }} =  {{portionList[1]}} %</li>
              <li>{{ companyList[2] }} =  {{portionList[2]}} %</li>
            </ol>

            <P>{{method2}}</P>
            <ol>
              <li>{{ companyList2[0] }} =  {{portionList2[0]}} %</li>
              <li>{{ companyList2[1] }} =  {{portionList2[1]}} %</li>
              <li>{{ companyList2[2] }} =  {{portionList2[2]}} %</li>
            </ol>

            <p>A weekly trend of the portfolio value is as below </p >

            <span>
            <ul style="list-style-type: none; display: inline-block;">
              <li>{{valueList[0]}}</li>
              <li>{{valueList[1]}}</li>
              <li>{{valueList[2]}}</li>
              <li>{{valueList[3]}}</li>
              <li>{{valueList[4]}}</li>
            </ul>

             <ul style="list-style-type: none; display: inline-block;">
              <li>{{valueList2[0]}}</li>
              <li>{{valueList2[1]}}</li>
              <li>{{valueList2[2]}}</li>
              <li>{{valueList2[3]}}</li>
              <li>{{valueList2[4]}}</li>
            </ul>

            </span>

              <p>
              <img src="{{url_for('static', filename='graph.png')}}" />
          </p>
            
        </form>
    </div>
{% endblock content %}